:root {
  --primary-color: #9d8e77;
  --color-tine: #d4c7b0;
  --color-shade: #6c5b4c;
  --color-contrast: #77869d;
  --color-font-general: #333;
}

*,
*:after,
*:before {
  color: #343a40;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  padding: 2rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* SHARING STYLES*/

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.section-title {
  font-size: 3rem;
  font-weight: 500;
}

.title-tertiary {
  font-size: 3rem;
  text-align: center;
}

.header {
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
}

.icon {
  width: 4.4rem;
  height: 4.4rem;
  vertical-align: middle;
}

.icon-instagram {
  transform: scale(1.1);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navigation-list {
    display: flex;
    list-style: none;
    gap: 0.8rem;

    .navigation-list-item {
      display: block;
      padding: 0.5rem 1.5rem;
      text-decoration: none;
      transition: 0.3s;
      border-radius: 0.8rem;

      &:hover {
        color: var(--color-shade);
      }
    }

    .active-item {
      transform: translateY(-0.8rem);
      background-color: #d8d2c9;
    }
  }
}

.logo {
  width: 8rem;
  height: 8rem;
}

.cta-btn {
  background-color: var(--color-contrast);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 0.8rem;
}

.section-hero {
  margin: 20rem 0 0 0;

  .container-hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0;
    background: var(--color-tine);
    border-radius: 0.8rem;
  }

  .hero {
    .hero-brand-info {
      display: flex;
      margin-bottom: 0.5rem;

      .brand-name {
        font-size: 2rem;
      }
    }

    .hero-slogan {
      margin-bottom: 2rem;
    }
  }

  .hero-img {
    width: 100%;
    height: 30rem;
    border-radius: 0.8rem;
    transition: 0.3s;

    &:hover {
      transform: translateY(-1rem);
    }
  }
}

.section-services {
  margin-top: 30rem;

  .section-title {
    margin-bottom: 4rem;
    text-align: center;
  }

  .service-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .service-item {
      width: calc(116rem / 3);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }
}

.section-portfolio {
  margin-top: 20rem;
  display: grid;
  grid-template-columns: 15% 85%;

  .section-title {
    width: 24.4rem;
  }

  .portfolios {
    width: 91.6rem;

    .portfolio-items {
      display: flex;
      flex-wrap: wrap;
      gap: 0.8rem;

      .portfolio-link {
        display: block;
        width: 30rem;
        overflow: hidden;
      }

      .portfolio-img {
        width: 100%;
        vertical-align: middle;
        border-radius: 0.8rem;
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .social-media {
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 3rem 0;
    }
  }
}

.service-item,
.pricing-item {
  flex: 1 1 30%;
  text-align: center;
  margin: 10px;
}

.social-media a {
  margin: 0 10px;
}

.section-testimonial {
  margin-top: 20rem;
  .section-title {
    text-align: center;
    margin-bottom: 3rem;
  }

  .testimonials {
    width: 100%;
    overflow: scroll;
    /* background-color: var(--color-tine); */
  }

  .testimonials-gallery {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;

    .testimonials-img {
      display: block;
      flex-shrink: 0;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

.testimonials[data-animated="true"] {
  overflow: hidden;
  /* mask: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  ); */
}

[data-animated="true"] .testimonials-gallery {
  width: fit-content;
  animation: scroll 100s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(-50%);
  }
}

.section-appointment {
  margin: 20rem 0 20rem;
  display: flex;
  justify-content: space-around;

  .block-cta {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }
}

footer {
  background: #f8f8f8;
  padding: 20px 0;
  text-align: center;

  .copyright {
    padding: 5rem 0 0 0;
  }
}

.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .contact-info-branch {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    .address-link {
      display: flex;
      gap: 2rem;
      text-decoration: underline;

      &:hover span {
        color: var(--color-contrast);
      }
    }

    .branch {
      display: flex;
      align-items: center;

      .icon {
        width: 2.4rem;
        height: 2.4rem;
        vertical-align: middle;
      }
    }
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  .service-items,
  .portfolio-items,
  .pricing-items {
    flex-direction: column;
  }

  .service-item,
  .pricing-item {
    flex: 1 1 100%;
  }

  .footer-info {
    flex-direction: column;
  }
}
